@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

/* Default styles */
body {
    font-family: 'Montserrat', sans-serif;

    color: $black;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 1400px;
    margin: 0 auto;

    @media (max-width: 1450px) {
        width: 1140px;
    }

    @media (max-width: 1200px) {
        width: 960px;
    }

    @media (max-width: 992px) {
        width: 720px;
    }

    @media (max-width: 768px) {
        width: 540px;
    }

    @media (max-width: 576px) {
        width: 90%;
    }
}

/* Blocks */

@import "blocks/preview";
@import "blocks/header";
@import "blocks/block";
@import "blocks/technologies";
@import "blocks/educations";
@import "blocks/works";
@import "blocks/experience";
@import "blocks/skills";
@import "blocks/footer";
@import "blocks/preloader";